/* globais */
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 990px;
  display: flex;
  justify-content: space-between;
}
.coluna {
  flex-direction: column;
}

/* cabeçalho */
header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu > nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu a {
  display: block;
  padding: 15px;
  color: #727272;
}
.menu a:hover,
.menu a.ativo {
  background-color: #39aae1;
  color: white;
}

/* banner */
#banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}
.titulo-banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulo-banner > * {
  color: white;
  text-shadow: 0 1px 0px #555;
  margin: 0;
  padding: 0;
  max-width: 380px;
}
.titulo-banner > h1 {
  font-size: 70px;
  margin-bottom: 20px;
}
.titulo-banner > h2 {
  font-size: 22px;
}
.info-banner {
  display: flex;
  height: 210px;
}
.info-1,
.info-2,
.info-3 {
  flex: 1;
  color: white;
  padding: 25px;
}
.info-1 {
  background-color: #39aae1;
}
.info-2 {
  background-color: #0079c7;
}
.info-3 {
  display: flex;
  flex-direction: column;
  background-color: #2b4c99;
}
.titulo-info {
  font-size: 22px;
}
.texto-info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}
.info-banner a {
  display: inline-block;
  border: 1px solid white;
  padding: 5px 10px;
  color: white;
  font-size: 13px;
}

.info-linha {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}