@import url('https://fonts.googleapis.com/css?family=Roboto');

/* globais */
body {
  margin: 0;
  padding: 0;
  background-color: #f7f5f7;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}
.container {
  width: 990px;
  display: flex;
  justify-content: space-between;
}
.coluna {
  flex-direction: column;
}

/* widget */
.widget > .titulo {
  margin-top: 30px;
  margin-bottom: 20px;
}
.widget > .titulo > .texto {
  color: black;
  font-size: 21px;
  font-weight: bold;
}
.widget > .titulo > .barra {
  width: 50px;
  height: 3px;
  background-color: #36a9e1;
  margin-top: 10px;
}
.widget > .corpo {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

/* cabeçalho */
header {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu > .menu-mobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 20px;
  padding: 5px 8px;
}
.menu > .menu-mobile > div {
  height: 3px;
  background-color: #39aae1;
}
.menu > nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu a {
  display: block;
  padding: 15px;
  color: #727272;
}
.menu a:hover,
.menu a.ativo {
  background-color: #39aae1;
  color: white;
}

/* banner */
#banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}
.titulo-banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulo-banner > * {
  color: white;
  text-shadow: 0 1px 0px #555;
  margin: 0;
  padding: 0;
  max-width: 380px;
}
.titulo-banner > h1 {
  font-size: 70px;
  margin-bottom: 20px;
}
.titulo-banner > h2 {
  font-size: 22px;
}
.info-banner {
  display: flex;
  height: 210px;
}
.info-1,
.info-2,
.info-3 {
  flex: 1;
  color: white;
  padding: 25px;
}
.info-1 {
  background-color: #39aae1;
}
.info-2 {
  background-color: #0079c7;
}
.info-3 {
  display: flex;
  flex-direction: column;
  background-color: #2b4c99;
}
.titulo-info {
  font-size: 22px;
}
.texto-info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}
.info-banner a {
  display: inline-block;
  border: 1px solid white;
  padding: 5px 10px;
  color: white;
  font-size: 13px;
}
.info-linha {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

/* conteudo */
#meio {
  display: flex;
  justify-content: center;
}
#meio section {
  flex: 2;
}
#meio aside {
  flex: 1;
}
#noticias .corpo {
  display: flex;
  flex-wrap: wrap;
}
.noticia {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}
.noticia > .info {
  display: flex;
}
.noticia > .info >.postada-em {
  background-color: #2b4c99;
  color: white;
  font-size: 12px;
  padding: 10px;
  margin-right: 3px;
}
.noticia > .info > .comentarios {
  background-color: #39aae1;
  color: white;
  font-size: 12px;
  padding: 10px;
}
.noticia > .miniatura {
  margin-top: 30px;
}
.noticia > .miniatura > img {
  width: 100%;
  height: auto;
}
.noticia > .titulo {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 23px;
}
.noticia > .resumo {
  color: #5c5c5c;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
#departamentos .retangulo {
  width: 150px;
  height: 150px;
  background-color: #03a2df;
  margin-bottom: 30px;
}
#consulta .info {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}
#consulta .contato {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}
#consulta .contato > img {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 2px;
  background-color: #DDD;
}
#consulta .contato a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
#consulta .contato a:hover {
  text-decoration-style: solid;
}

/* rodape */
footer {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
}
footer .menu-rodape {
  display: flex;
  flex: 1;
}
.menu-1,
.menu-2,
.menu-3 {
  flex: 1;
  color: white;
  padding: 30px;
}
.menu-1 {
  background-color: #39aae1;
}
.menu-2 {
  background-color: #0079c7;
}
.menu-3 {
  background-color: #2b4c99;
}
.menu-rodape .titulo-menu {
  font-size: 22px;
  margin-bottom: 15px;
}
.menu-rodape .texto-menu {
  font-size: 14px;
}
footer .area {
  display: flex;
  color: white;
}
footer .area > .item {
  flex: 1;
}
footer .widget > .titulo > .texto {
  color: white;
}
footer .copyright {
  border-top: 1px solid #2c2c2c;
  color: #5c5c5c;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  header {
    height: auto;
  }
  .logo {
    padding-left: 20px;
  }
  .menu > .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menu > nav > ul {
    display: none;
  }
  #banner {
    height: auto;
  }
  .titulo-banner {
    padding: 20px;
  }
  .info-banner {
    height: auto;
  }
  .titulo-banner > h1 {
    padding-top: 20px;
    font-size: 55px;
  }
  .titulo-banner > h2 {
    font-size: 17px;
    padding-bottom: 20px;
  }
  #meio section,
  #meio aside {
    padding: 20px;
  }
  footer .area {
    padding: 20px;
  }
  .copyright {
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu > nav > ul,
  #banner .container,
  .info-banner,
  #meio .container,
  .menu-rodape,
  footer .area {
    flex-direction: column;
  }
}